.actorsList {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.listItem {
    width: 100%;
    text-align: left;
    display: flex;
    column-gap: 20px;
}

.listItem:not(:last-child) {
    padding-bottom: 20px;
}

.listItemImage {
    min-width: 100px;
    width: 100px;
    overflow: hidden;
}

.listItemTextContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (min-width: 768px) {
    .listItemImage {
        width: 200px;
    }

    .listItemText {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .listItem {
        flex-direction: column;
        row-gap: 10px;
    }
}